.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.joinus,.settings,.login,.contactus,.search,.help,.home,.download{
  background-color:skyblue;
  border-radius: 50px;
  width: 130px;
  height: 25px;
  color: white;
  font-size: medium;
  border-color: skyblue;
 }
 .settings{
  background-color:teal;
  border-color: teal;
 }
 .login{
   background-color: orange;
   border-color: orange;
 }
.contactus{
  background-color: red;
  border-color: red;
}
.search{
  background-color: green;
  border-color: green;
}

.help{
  background-color: purple;
  border-color:purple;
}
.home{
  background-color: magenta;
  border-color: magenta;
}
.download{
  background-color: gold;
  border-color: gold;
}

.Gridcontainer{
  display : grid;
  grid-template-columns: repeat(2, 10%);
  grid-gap: 20px;
  justify-content: center;
}